<!doctype html>
<html lang="en" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" href="./css/main.css">

</head>
<% const sliders = [
    {
        title: 'Step<span class="content__title">by</span>Step',
        slides: [
            {
                video: 'https://youtu.be/z8M0Fa1JVco',
                img: 'https://img.youtube.com/vi/z8M0Fa1JVco/0.jpg'
            },
            {
                video: 'https://youtu.be/Wi2KcdoCuo4',
                img: 'https://img.youtube.com/vi/Wi2KcdoCuo4/0.jpg'
            },
            {
                video: 'https://youtu.be/8H6dYUgQKB8',
                img: 'https://img.youtube.com/vi/8H6dYUgQKB8/0.jpg'
            },
            {
                video: 'https://youtu.be/PZjGrmHdFME',
                img: 'https://img.youtube.com/vi/PZjGrmHdFME/0.jpg'
            },
            {
                video: 'https://youtu.be/_wLGr24VeoI',
                img: 'https://img.youtube.com/vi/_wLGr24VeoI/0.jpg'
            },
            {
                video: 'https://youtu.be/DG4FAU5qmMY',
                img: 'https://img.youtube.com/vi/DG4FAU5qmMY/0.jpg'
            }
        ]
    },
    {
        title: 'Craft<span class="content__title">Education</span>',
        slides: [
            {
                video: 'https://youtu.be/RmNWNLXmswk',
                img: 'https://img.youtube.com/vi/RmNWNLXmswk/0.jpg'
            },
            {
                video: 'https://youtu.be/-tztXOz8Vc0',
                img: 'https://img.youtube.com/vi/-tztXOz8Vc0/0.jpg'
            },
            {
                video: 'https://youtu.be/kUfIVtyydgQ',
                img: 'https://img.youtube.com/vi/kUfIVtyydgQ/0.jpg'
            },
            {
                video: 'https://youtu.be/kUfIVtyydgQ',
                img: 'https://img.youtube.com/vi/kUfIVtyydgQ/0.jpg'
            }

        ]
    },
    {
        title: 'INSPIRATION',
        slides: [
            {
                video: 'https://youtu.be/VmmwwzR536g',
                img: 'https://img.youtube.com/vi/VmmwwzR536g/0.jpg'
            },
            {
                video: 'https://youtu.be/vz0k8O-Ef9Y',
                img: 'https://img.youtube.com/vi/vz0k8O-Ef9Y/0.jpg'
            },
            {
                video: 'https://youtu.be/6oPBFnsqJW8',
                img: 'https://img.youtube.com/vi/6oPBFnsqJW8/0.jpg'
            },
            {
                video: 'https://youtu.be/6oPBFnsqJW8',
                img: 'https://img.youtube.com/vi/6oPBFnsqJW8/0.jpg'
            }
        ]
    }
];
%>

<% const socials = [
    {
        short_name: 'fb',
        icon: 'img/ico_facebook.svg'
    },
    {
        short_name: 'tw',
        icon: 'img/ico_twitter.svg'
    },
    {
        short_name: 'pin',
        icon: 'img/ico_pinterest.svg'
    },
    {
        short_name: 'youtube',
        icon: 'img/ico_youtube.svg'
    },
    {
        short_name: 'insta',
        icon: 'img/ico_instagram.svg'
    }
] %>
<% const menu = [
    {
        title: 'Haircare',
        link: 'menu__link_haircare'
    },
    {
        title: 'Color',
        link: 'menu__link_color'
    },
    {
        title: 'Styling',
        link: 'menu__link_styling'
    },
    {
        title: 'Texture',
        link: 'menu__link_texture'
    },
    {
        title: 'Get Inspired',
        link: 'menu__link_get inspired'
    },
    {
        title: 'Social',
        link: 'menu__link_social'
    },
    {
        title: 'News',
        link: 'menu__link_news'
    },
    {
        title: 'About',
        link: 'menu__link_about'
    },
    {
        title: 'Professional',
        link: 'menu__link_professional'
    }
] %>

<body>
<div class="header">
    <div class="header__top clearfix">
        <div class="header__right-box">
            <div class="right-box__heading">
                <a class="caption__heading" href="#"><span class="caption__heading_nearlest white">Nearest salon</span></a>
                <img class="caption__icon_link" src="img/ico_dropdown.svg" width="15px" height="15px"/>
            </div>
            <span class="right-box__text white">Plush Salon 92101</span>
        </div>
        <div class="header__logo">
            <img src="img/logo.svg" width="342px" height="24px">
        </div>
        <div class="header__left-box">
            <img class="caption__icon_link" src="img/ico_search.svg" width="20px" height="20px"/>
        </div>
    </div>
    <div class="header__menu menu">
        <div class="container">
            <ul class="menu__list">
                <% menu.forEach((item) =>{ %>
                <li class="menu__item"><a href="" class="menu__link <%= item.link; %>"><%= item.title; %></a></li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>
<ul class="breadcrumbs">
    <li class="bradcrumbs__link_active"><a href="#"><span class="active"> Home</span></a></li>
    <li class="bradcrumbs__link_no-active "><span class="no-active">Video</span></li>
</ul>
<div class="content">
    <div class="container">
        <div class="content__videos">
            <h1>Video</h1>
            <a class="main-video" data-fancybox href='https://youtu.be/hFU5tDlfSns'>
                <img class="main-video__picture" src="https://img.youtube.com/vi/hFU5tDlfSns/0.jpg" alt=""/>
                <button class="slider__button slider__button_big"><img src="img/ico__button-play.png" alt=""></button>
            </a>
            <h3 class="content__caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lobortis,
                nisl at ullamcorper egestas, felisadi piscing dolor, a interdum lorem urna quis magna.</h3>
        </div>
        <div class="content__slider">
            <% sliders.forEach((slider) => { %>
            <div class="content__slider-group">
                <h2 class="content__slider-heading">
                    <%- slider.title; %>
                </h2>
                <div class="slider">
                    <% slider.slides.forEach((slide) => { %>
                    <a class="slider__item" data-fancybox href="<%- slide.video %>">
                        <img class="slider__image" src="<%- slide.img %>" alt="">
                        <button class="slider__button"><img src="img/ico__button-play.png" alt=""></button>
                    </a>
                    <% }) %>
                </div>
            </div>
            <button class="slider__button_load-more"><span class="button__load">Load More</span></button>
            <% }) %>
        </div>
    </div>
</div>
<div class="footer">
    <div class="row align-items-center">
        <div class="col-4">
            <div class="footer__block right-block">
                <div class="right-block__one-title">
                    <a class="block__title" href="">primacy policy</a>
                    <a class="block__title" href="">terms of use</a>
                </div>
                <div class="right-block__two-title">
                    <a class="block__title" href="">contact us</a>
                    <a class="block__title" href="">stemap</a>
                </div>
            </div>
        </div>
        <div class="col-4 text-center">
            <ul class="footer__icons social">
                <% socials.forEach((social) => { %>
                <li class="social__item">
                    <a href="" class="social__link">
                        <img class="social__icon social__icon_<%= social.short_name; %>" src="<%= social.icon; %>"/>
                    </a>
                </li>
                <% }) %>
            </ul>
        </div>
        <div class="col-4 text-right">
            <div class="footer__block left-block ">
                <div class="left-block__location">
                    <a class="block__title" href="">location:united states</a>
                </div>
                <div class="left-block__language">
                    <a class="block__title" href="">language:english</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>


