<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" href="css/main.css">

</head>
<% const sliders = [
    {
        title: 'Step<span class="content-slider__heading_red">by</span>Step',
        slides: [
            {
                video: 'https://youtu.be/z8M0Fa1JVco',
                img: 'https://img.youtube.com/vi/z8M0Fa1JVco/0.jpg'
            },
            {
                video: 'https://youtu.be/Wi2KcdoCuo4',
                img: 'https://img.youtube.com/vi/Wi2KcdoCuo4/0.jpg'
            },
            {
                video: 'https://youtu.be/8H6dYUgQKB8',
                img: 'https://img.youtube.com/vi/8H6dYUgQKB8/0.jpg'
            },
            {
                video: 'https://youtu.be/PZjGrmHdFME',
                img: 'https://img.youtube.com/vi/PZjGrmHdFME/0.jpg'
            },
            {
                video: 'https://youtu.be/_wLGr24VeoI',
                img: 'https://img.youtube.com/vi/_wLGr24VeoI/0.jpg'
            },
            {
                video: 'https://youtu.be/DG4FAU5qmMY',
                img: 'https://img.youtube.com/vi/DG4FAU5qmMY/0.jpg'
            }
        ]
    },
    {
        title: 'Craft<span class="content-slider__heading_red">Education</span>',
        slides: [
            {
                video: 'https://youtu.be/RmNWNLXmswk',
                img: 'https://img.youtube.com/vi/RmNWNLXmswk/0.jpg'
            },
            {
                video: 'https://youtu.be/-tztXOz8Vc0',
                img: 'https://img.youtube.com/vi/-tztXOz8Vc0/0.jpg'
            },
            {
                video: 'https://youtu.be/kUfIVtyydgQ',
                img: 'https://img.youtube.com/vi/kUfIVtyydgQ/0.jpg'
            },
            {
                video: 'https://youtu.be/kUfIVtyydgQ',
                img: 'https://img.youtube.com/vi/kUfIVtyydgQ/0.jpg'
            }

        ]
    },
    {
        title: 'INSPIRATION',
        slides: [
            {
                video: 'https://youtu.be/VmmwwzR536g',
                img: 'https://img.youtube.com/vi/VmmwwzR536g/0.jpg'
            },
            {
                video: 'https://youtu.be/vz0k8O-Ef9Y',
                img: 'https://img.youtube.com/vi/vz0k8O-Ef9Y/0.jpg'
            },
            {
                video: 'https://youtu.be/6oPBFnsqJW8',
                img: 'https://img.youtube.com/vi/6oPBFnsqJW8/0.jpg'
            },
            {
                video: 'https://youtu.be/6oPBFnsqJW8',
                img: 'https://img.youtube.com/vi/6oPBFnsqJW8/0.jpg'
            }
        ]
    }
];
%>

<% const socials = [
    {
        class: 'social__icon_fb',
        icon: 'img/ico_facebook.svg'
    },
    {
        class: 'social__icon_tw',
        icon: 'img/ico_twitter.svg'
    },
    {
        class: 'social__icon_pin',
        icon: 'img/ico_pinterest.svg'
    },
    {
        class: 'social__icon_youtube',
        icon: 'img/ico_youtube.svg'
    },
    {
        class: 'social__icon_insta',
        icon: 'img/ico_instagram.svg'
    }
] %>

<body>
<div class="header">
    <div class="header__top clearfix">
        <div class="header__right-box">
            <div class="right-box__heading">
                <a class="caption__heading" href="#"><span class="caption__heading_nearlest white">Nearest salon</span></a>
                <img class="caption__icon_link" src="img/ico_dropdown.svg" width="10px" height="10px"/>
            </div>
            <span class="right-box__text white">Plush Salon 92101</span>
        </div>
        <div class="header__logo">
            <img src="img/logo.svg" width="342px" height="24px">
        </div>
        <div class="header__left-box">
            <img class="caption__icon_link" src="img/ico_search.svg" width="19px" height="19px"/>
        </div>
    </div>
    <div class="header__menu menu">
        <div class="container">
            <ul class="menu__list">
                <li class="menu__item"><span class="menu__link menu__link_haircare">Haircare</span></li>
                <li class="menu__item"><span class="menu__link menu__link_color">Color</span></li>
                <li class="menu__item"><span class="menu__link menu__link_styling"> Styling</span></li>
                <li class="menu__item"><span class="menu__link menu__link_texture">Texture</span></li>
                <li class="menu__item"><span class="menu__link menu__link_get inspired">Get Inspired</span></li>
                <li class="menu__item"><span class="menu__link menu__link_social">Social</span></li>
                <li class="menu__item"><span class="menu__link menu__link_news"> News</span></li>
                <li class="menu__item"><span class="menu__link menu__link_about">About</span></li>
                <li class="menu__item"><span class="menu__link menu__link_professional">Professional</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<ul class="breadcrumbs">
    <li class="bradcrumbs__link_active"><a href="#"><span class="bradcrumbs__link_active"> Home</span></a></li>
    <li class="bradcrumbs__link_no-active"><span class="bradcrumbs__link_no-hover">Video</span></li>
</ul>
<div class="container">
    <div class="content">
        <div class="content__videos">
            <h1>Video</h1>
            <a data-fancybox
               href="https://youtu.be/hFU5tDlfSns&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
                <img class="content__picture" src="https://img.youtube.com/vi/hFU5tDlfSns/0.jpg" alt=""/>
            </a>
            <h3 class="content__caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lobortis,
                nisl at ullamcorper egestas, felisadi piscing dolor, a interdum lorem urna quis magna.</h3>
        </div>
    </div>
    <% sliders.forEach((slider) => { %>
    <div class="content__content-slider">
        <h2 class="content-slider__heading">
            <%- slider.title; %>
        </h2>
        <div class="slider">
            <% slider.slides.forEach((slide) => { %>
            <a data-fancybox href="<%- slide.video %>">
                <img src="<%- slide.img %>" alt="">
            </a>
            <% }) %>
        </div>
    </div>
    <% }) %>
</div>
<div class="footer">
    <div class="footer__top clearfix">
        <div class="footer__right-box">

        </div>
        <ul class="footer__icons social">
            <% socials.forEach((social) => { %>
                <li>
                    <a href="" class="social__link">
                        <img class="social__icon <%= social.class; %>" src="<%= social.icon; %>"/>
                    </a>
                </li>
            <% }) %>
        </ul>
        <div class="header__left-box"></div>
    </div>
</div>

<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
